<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProperty scope="context" name="AWS_REGION" source="logging.cloudwatch.region" defaultValue="us-east-1"/>
    <springProperty scope="context" name="CLOUDWATCH_LOG_GROUP" source="logging.cloudwatch.log-group" defaultValue="/upload-platform/application"/>
    <springProperty scope="context" name="CLOUDWATCH_LOG_STREAM" source="logging.cloudwatch.log-stream" defaultValue="local"/>

    <springProfile name="cloudwatch">
        <appender name="CLOUDWATCH" class="com.suraj.uploadplatform.infrastructure.logging.CloudWatchLogbackAppender">
            <region>${AWS_REGION}</region>
            <logGroup>${CLOUDWATCH_LOG_GROUP}</logGroup>
            <logStream>${CLOUDWATCH_LOG_STREAM}</logStream>
        </appender>

        <appender name="ASYNC_CLOUDWATCH" class="ch.qos.logback.classic.AsyncAppender">
            <queueSize>2048</queueSize>
            <discardingThreshold>0</discardingThreshold>
            <neverBlock>true</neverBlock>
            <appender-ref ref="CLOUDWATCH"/>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="ASYNC_CLOUDWATCH"/>
        </root>
    </springProfile>

    <springProfile name="!cloudwatch">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>
